typo3-core/
**/node_modules/**
vendor/
var/
app/public/**
!/app/public/.htaccess
packages/ext-oauth2-client
packages/stock-pictures
packages/unsplash-connector
.idea
FIRST_INSTALL
ENABLE_INSTALL_TOOL
/app/.php-cs-fixer.cache
/build/apps/phpunit/.phpunit.cache/
.env
.build/
.php-cs-fixer.cache
composer.lock
yaml-lint.log
